.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 3, 11, 0.7)),
    url("/Gym/images/footer.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container div h2{
    color: white;
    font-size: 32px;
    font-style: italic;
    padding: 0px 10px;
}
.container div p{
    color: white;
    padding: 0px 10px;
}
@media screen and (max-width: 1024px){
    .container div h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 870px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .container div h2{
        text-align: center;
    }
    .container div p{
        text-align: center;
    }
}
@media screen and (max-width: 565px){
    .container div h2{
        font-size: 20px;
    }
    .container div p{    
        font-size: 17px;
    }
}