.container {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 3, 11, 0.7),
            rgba(0, 3, 11, 0.7)),
        url("/Gym/images/about-images/background1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: white;
    font-style: italic;
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.container h1 span {
    color: #73c6ce;
}

@media screen and (max-width: 630px) {
    .container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 425px) {
    .container h1 {
        font-size: 55px;
    }
}